/* CSS Reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Sulphur Point', sans-serif;

}


/*Fonts*/
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Sulphur Point', sans-serif;*/

/*Nav Bar*/

.nav{
	background-color: #869199;
	padding-top: .8vh;
}

.nav1 {
	color: black;
	padding: 1rem;
	margin-right: 2vw;
	margin-top: 2vh;
	font-size: normal;
	font-family: 'Sulphur Point', sans-serif;

}
/*End of Nav Bar*/



/*About me section*/

#landing img{
	height: 20rem;
	width: 20rem;
	position: center;
	border-radius: 10rem;
	border: solid black;

}

.a2 {
	font-size: large;
	line-height: 1;
}


#landing {
	background-image: url("https://lh3.googleusercontent.com/drive-viewer/AAOQEOT_0j49ZpC_aaRLQSvHSBpTIgpVB9jn6i5DqalVP_oCvouWbs5YLU7fi2ibXBGvYd7tsQozMWK48MiQhJgHSx-1u_di4A=s1600");
}

.border1 {
	border: .2rem solid white;
}


/*Project Section*/

.proj {
	background-color: #3C4048;
}

h5 {
	margin-top: 3rem !important;
}


/* Tools Section */

#tools {
	background-color: #B2B2B2;
}

h3 {
	background-color: #8D8D8D !important;
	color: snow;
	margin-top: 4rem !important;
	width: 100%;
}

.o_tools{
	background-color: #464646 !important;
}



/*Contact Section*/

#gmap {
	height: auto;
	width: 100%;
	background-position: center;
}

#bord {
	border: solid black;
}

#bord2 {
	border: solid black;
	width: 100%;
	padding: 1rem;
	margin-right: 2vw;
	margin-top: 2vh;

}